* {
  margin: 0;
  padding: 0;
}
.imgbox {
  display: grid;
  height: 100%;
}

.center-fit {
  background-size: cover;
  height: 52vw;
  background-repeat: no-repeat;
  padding-top: 1px;
}
/* text */
.Evan {
  font-family: Josefin Sans;
  padding-top: 360px;
  padding-left: 50px;
  color: white;
  font-size: 75px;
}
.Software {
  font-family: Josefin Sans;
  padding-top: 430px;
  padding-left: 50px;
  color: white;
  font-size: 75px;
}
.Hello {
  font-family: Josefin Sans;
  padding-top: 310px;
  padding-left: 50px;
  color: white;
  font-size: 50px;
}
.Introduce {
  font-family: Poppins ExtraBold;
  padding-top: 100px;
  color: black;
  font-size: 75px;
  padding-left: 120px;
}
.About {
  font-family: Poppins ExtraBold;
  padding-top: 80px;
  color: black;
  font-size: 30px;
  padding-left: 120px;
}
.Bio {
  font-family: Biryani;
  padding-top: 200px;
  color: black;
  padding-left: 120px;
  width: 1350px;
  font-size: 25px;
}
